<div id="app-root">
    <header>
     <div class="div-logo">
         <a href="/"><img src="../../assets/logo.png" alt="Logo" class="logo"></a>
     </div>
     <nav>
         <ul>
             <li><a href="/cadastrarCategoria">Cadastrar Categoria</a></li>
             <li><a href="/listarCategoria">Listar Categoria</a></li>
             <li><a href="/cadastrarProduto">Cadastrar Produto</a></li>
             <li><a href="/listarProduto">Listar Produto</a></li>
         </ul>
     </nav>
    </header>
    <main>
         <router-outlet></router-outlet>
    </main>
  </div>