table{
  height: 100%;
  width: 90%;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 15px auto;
  border-collapse: collapse;
  color: #fff;
}

thead{
  background-color: #db2c56;
  text-align: center;
  padding: 5px 5px;
}

tr, td{
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}


th{
  padding: 5px;
}

td{
  color: #db2c56;
}

tbody tr:hover{
  cursor: pointer;
  background-color: #eeeeee;
}

a{
  padding: 0 10px;
  text-decoration: none;
}

thead:hover{
  cursor: default;
  background-color: #c2274b ;
}

.editar{
  color: #db2c56;
  padding: 3px 15px;
}

.deletar{
  color: #9842d1;
}